<template name='header'>
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" style="color: #ddd" href="/"> BELFER</a> -->
          <img class='belfLogo' src='belf.png'>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/" >Home</a></li>

            {{#if currentUser}}
            <li> <a href='/students'> Students </a></li>
            <li> <a href='/categories'> Rating categories </a> </li>
            <li> <button class='logoutButton'>Log out  {{currentUser.username}}</button></li>
            {{else}}
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log in</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>
