<template name='register'>

  <h2>Register</h2>

  <div class='form-group'>
    <div> <label for='username'> Username </label> </div>
    <div> <input type='text' name='username' class='form-control registerUsername' /> </div>
  </div>
  <div class='form-group'>
    <div> <label for='email'> Email </label> </div>
    <div> <input type='email' name='email' class='form-control registerEmail' /> </div>
  </div>
  <div class='form-group'>
    <div> <label for='password'> Password </label> </div>
    <div> <input type='password' name='password' class='form-control registerPassword'/> </div>
  </div>
  <div class='form-group'>
    <div> <button class='btn btn-primary registerSubmit' > Register </button> </div>
  </div>

</template>
